{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container">

        <h1>Product details</h1>
        <div class="row mb-3">
            <div class="col-4">
                {% if products1%}
                    <img src="{{products1.image.url }}" width="400" height="300"/>
                {% else %}
                    <img src="/media/products/no_image.webp" width="400" height="300"/>
                {% endif %}
            </div>
            <div class="col-4">
            <div class="text">
                <p>Title - {{ products1 }}</p>
                <p>Price - {{ products1.price }}</p>
                <p>Description - {{ geproducts1.description }}</p>
                <p>Color - {{ products1.color }}</p>
            </div>
            </div>

</div>
    <div class="row">
    <h3>Consumers</h3>
        {% for consumer in consumers %}
            <p>{{ consumer.user.username }}</p>
        {% endfor %}
    </div>
    </div>

{% endblock %}